@import url(https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);

body, html {
  height: 100%;
}
body {
  font-family: 'Open Sans';
  font-weight: 100;
  overflow: hidden;
}
input {
  ::-webkit-input-placeholder {
     color: rgba(0,0,0,0.7);
  }
  ::-moz-placeholder {
     color: rgba(0,0,0,0.7);  
  }
  :-ms-input-placeholder {  
     color:  rgba(0,0,0,0.7);  
  }
  &:focus {
    outline: 0 transparent solid;
    ::-webkit-input-placeholder {
     color: rgba(0,0,0,0.7);
    }
    ::-moz-placeholder {
       color: rgba(0,0,0,0.7);  
    }
    :-ms-input-placeholder {  
       color: rgba(0,0,0,0.7);  
    }
  }
}

.login-form {
  //background: #222;
  //box-shadow: 0 0 1rem rgba(0,0,0,0.3);
  min-height: 10rem;
  margin: auto;
  max-width: 50%;
  padding: .5rem;
  margin-top: 6%;
  z-index: 900;
  transform: translateY(0);
  box-shadow:
inset 0 0 0px whitesmoke, inset 0px 0 40px #ff00ff52, inset 0px 0 0px #00ffff7a, inset 0px 0 30px #ff00ff52, inset 0px 0 0px #00ffff7a, 0 0 0px #fff, 0px 0 1px #ff00ff52, 10px 0px 70px #00ffff7a}

.login-text {
  //background: hsl(40,30,60);
  //border-bottom: .5rem solid white;
  color: black;
  font-size: 2.5rem;
  margin: 0 auto;
  max-width: 50%;
  padding: .5rem;
  text-align: center;
  //text-shadow: 1px -1px 0 rgba(0,0,0,0.3);
  .fa-stack-1x {
    color: black;
  }
}

.petition, .question {
  background: black;
  border: 0 solid;
  border-bottom: 1px solid rgba(white, .5);
  color: white;
  display: block;
  margin: 1rem;
  padding: .5rem;
  transition: 250ms background ease-in;
  width: calc(100% - 3rem);
  &:focus {
    background: black;
    color: white;
    transition: 250ms background ease-in;
  }
}

.footer-title {
  //border-bottom: 1px solid white;
  bottom: 0;
  color: white;
  display: block;
  font-size: 75%;
  left: 0;
  padding: .5rem;
  position: absolute;
  text-align: center;
  //text-decoration: none;
  width: 100%;
  &:hover {
    opacity: 1;
  }
}

.logo{
  margin-top: 3%;
  width: 10%
}

.howToUse{
  cursor: pointer;
  text-decoration: underline;
}
.showAnswer {
  border: 1px solid white;
  background: transparent;
  color: white;
  display: block;
  margin: 1rem auto;
  min-width: 1px;
  padding: .25rem;
  transition: 250ms background ease-in;
  &:hover, &:focus {
    background: white;
    color: black;
    transition: 250ms background ease-in;
  }
}




[class*=underlay] {
  left: 0;
  min-height: 100%;
  min-width: 100%;
  position: fixed;
  top: 0;
}
.underlay-photo {
  animation: hue-rotate 3s infinite;
  background: url("./backgroungMonk.jpg");
  background-size: auto;
  -webkit-filter: grayscale(30%);
  z-index: -1;
}

@keyframes hue-rotate {
  from {
    -webkit-filter: grayscale(30%) hue-rotate(0deg);
  }
  to {
    -webkit-filter: grayscale(30%) hue-rotate(360deg);
  }
}

.heading{
  text-transform: uppercase;
}

.loader {
  color:grey;
  font-family:sans-serif;
  height:5vh;
  left:50%;
  overflow-x:hidden;
  padding-top:7vh;
  position:absolute;
  text-align:center;
  top:90%;
  transform:translate(-50%,-50%);
  width:30vw;
  &:before {
    animation:left-to-right 3s alternate infinite linear;
    background-image:linear-gradient(to right, transparent, red, transparent);
    // bottom:0;
    content:"";
    height:5vh;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
  }
  &:after {
    background-image:repeating-linear-gradient(
      90deg,
      black,
      black 1vw,
      transparent 1vw,
      transparent 10vw
    );
    content:"";
    height:5vh;
    left:0;
    overflow:hidden;
    position:absolute;
    right:0;
    top:0;
  }
}

p {
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  font-size: 4em;
  font-family: arial;
  font-weight: 600;
  transform: scale(.5);
  color: red;
}


@keyframes left-to-right {
  0% {
    transform:translateX(-100%);
  }
  100% {
    transform:translateX(100%);
  }
}